<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtSimbzLPmb7v-n2u9612y-PdXrFHNg9o</string>
	<key>GCM_SENDER_ID</key>
	<string>672231779872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.bdh.engagehf</string>
	<key>PROJECT_ID</key>
	<string>som-rit-phi-enghf2-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>som-rit-phi-enghf2-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672231779872:ios:3519454ff7a793a6295645</string>
</dict>
</plist>